# .github/workflows/app.yaml
name: PyTest
on: push
# jobs:
#   test:
#     runs-on: ubuntu-latest
#     timeout-minutes: 10
#     steps:
#       - name: Check out repository code
#         uses: actions/checkout@v2
          
#       - name: Run test script
#         run: | 
#           /bin/bash run_tests.sh
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
            python-version: ${{ matrix.python-version }}
      - uses: aws-actions/setup-sam@v1
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: sam build 
# Run Unit tests- Specify unit tests here 
# sam deploy
      - run: sam deploy
      - name: Run test script
        run: | 
          /bin/bash run_tests.sh
